*{
  background-color:antiquewhite;
}
.form{
  text-align: center;
  padding: 30px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border: 8px solid royalblue;
border-radius: 25px;
}
.done{
  text-decoration: line-through;
}
.form img {
  width: 90px;
  border-radius: 25px;
  border: 3px solid black;
}
.form button {
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color:red;
}

.form button:hover {
  background-color:cornflowerblue;
  color: white;
}
